body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.invitacion {
    width: 90%;
    max-width: 800px;
    text-align: center;
    padding: 20px;
    border: 2px solid #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header img {
    height: 80px;
    max-width: 100px;
    width: 100%;
}

h1 {
    font-size: 1.5em;
    margin: 10px 0;
}

p {
    font-size: 1.2em;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 1.2em;
    }
    p {
        font-size: 1em;
    }
    .header img {
        height: 70px;
    }
}
